@import '../components/text.scss';

.index_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    overflow: scroll;
    position: relative;
    background-color: $primary-colour;
    flex-flow: column;
    padding-top: 500px;

    @media only screen and (min-width: 400px) {
        padding-top: 300px;
    }

    @media only screen and (min-width: 900px) {
        flex-flow: row;
        padding-top: 0;
    }


}

.index_box{
    margin: 25px;
    padding: 50px;
    border-radius: 20px;
    z-index: 10;

    @media only screen and (min-width: 1440px) {
        margin: 0 50px;
    }

    p{
        margin:20px 0px;
    }

    ul {
        margin-bottom: 30px;
    }
}

.link{
    display: inline;
    margin-top: 15px;
    padding: 10px;
    border-radius: 10px;
    
}