.icon_list {
    display: block;
}

.icon_list_item {
    display: inline;

    svg {
        width: 20px;
        height: 20px;
        margin: 10px 10px 0px 0px;
    }
}

.content {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
	align-items: center;
    padding: 1px 16px;
  }

  .page_title{
    text-align: center;
    width: 100%;
}


