@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

h1, h2, h3, p, label, button, li, a {
    font-family: "Montserrat";
    margin-top: 10px;
}

h1{
    font-size: 30px;
}

h2{
    font-size:24px;
}

h3{
    font-size:24px;
}

p, label, input{
    font-size: 16px;
}

button{
    font-size: 18px;
}

input{
    &::placeholder{
        font-family: "Montserrat";
    }
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}
.content{
    
}
.notifications_section{
    
    li{
        font-size: 13px;
        
    }
}

.quick_links_section{
    
    li{
        font-size: 13px;
    }
}

.post_card{
    h3{
        a{
            font-size: 20px;
        }
        
    }
    p{
        font-size: 11px;
    }

    a{
        font-size: 13px;
    }
    .show_button{

        font-size: 12px;
    }
}
.pagination_container{
    font-family: "Montserrat";
}