@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
@import '../abstracts/colors.scss';

h1, p, label, button {
    font-family: "Montserrat";
}

h1{
    font-size: 48px;
}

p, label, input{
    font-size: 16px;
}

button{
    font-size: 18px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

input{
    &::placeholder{
        font-family: "Montserrat";
    }
}
