@import url(https://fonts.googleapis.com/css?family=Montserrat:500);
@import url(https://fonts.googleapis.com/css?family=Montserrat:500);
h1 {
  color: #484848;
}

p, label {
  color: #727272;
}

a {
  color: #0792A5;
}

input:focus {
  outline: none;
}

svg {
  fill: #727272;
}

.form_container {
  background-color: #ffffff;
}

.login_button {
  color: #ffffff;
  background-color: #0792A5;
}

* {
  margin: 0;
}

body {
  overflow: hidden;
}

.background {
  position: relative;
  background-image: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 1024'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath fill='%230792A5' d='M0 0h1440v1024H0z'/%3E%3Cpath d='m26.716 234.178 173.315-93.594 10.684-12.861 8.919-16.924.068-26.255-6.601-21.499-12.838-12.206-173.304 89.298-.243 94.041Z' fill='%23FAFAFA'/%3E%3Cpath d='m26.716 234.178 173.315-93.594 10.684-12.861 8.919-16.924.068-26.255-6.601-21.499-12.838-12.206-173.304 89.298-.243 94.041Z' fill='url(%23b)'/%3E%3Cpath d='M113.429-30.42-60.513 62.783l-10.741 12.848-8.984 16.921-.137 26.295 6.558 21.551 12.834 12.263 173.92-88.9.492-94.181Z' fill='%23FAFAFA'/%3E%3Cpath d='M113.429-30.42-60.513 62.783l-10.741 12.848-8.984 16.921-.137 26.295 6.558 21.551 12.834 12.263 173.92-88.9.492-94.181Z' fill='url(%23c)'/%3E%3Cg filter='url(%23d)'%3E%3Cpath d='m200.641 17.848-174.03-94.5-.243 94.05c86.425 52.458 205.647 94.586 173.956 123.218 82.283-50.826 41.224-100.468.317-122.768Z' fill='%23E5E5E5'/%3E%3C/g%3E%3Cg filter='url(%23e)'%3E%3Cpath d='m-61.154 185.41 173.626 94.923.491-93.942C26.753 133.729-92.251 91.285-60.513 62.783c-82.344 50.517-41.453 100.228-.641 122.627Z' fill='%23E5E5E5'/%3E%3C/g%3E%3Cpath d='m1484.64 980.839-124.37-206.791-15.89-12.139-20.44-9.605-30.46 2.167-24.34 10.024-12.99 16.958 119.38 207.146 109.11-7.76Z' fill='%23FAFAFA'/%3E%3Cpath d='m1484.64 980.839-124.37-206.791-15.89-12.139-20.44-9.605-30.46 2.167-24.34 10.024-12.99 16.958 119.38 207.146 109.11-7.76Z' fill='url(%23f)'/%3E%3Cpath d='m1169.81 896.044 123.97 207.606 15.88 12.21 20.45 9.68 30.51-2.08 24.4-9.98 13.06-16.96-118.98-207.939-109.29 7.463Z' fill='%23FAFAFA'/%3E%3Cpath d='m1169.81 896.044 123.97 207.606 15.88 12.21 20.45 9.68 30.51-2.08 24.4-9.98 13.06-16.96-118.98-207.939-109.29 7.463Z' fill='url(%23g)'/%3E%3Cg filter='url(%23h)'%3E%3Cpath d='m1217.85 783.812-93.75 223.798 109.12-7.757c52.97-111.616 90.97-262.995 127.06-226.17-66.45-97.629-120.29-42.484-142.43 10.129Z' fill='%23E5E5E5'/%3E%3C/g%3E%3Cg filter='url(%23i)'%3E%3Cpath d='m1436.08 1093.93 94.28-223.335-109.01 7.443c-53.23 111.366-91.61 262.502-127.57 225.612 66.1 97.73 120.04 42.78 142.3-9.72Z' fill='%23E5E5E5'/%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3ClinearGradient id='b' x1='219.552' y1='142.783' x2='26.954' y2='142.285' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='.147' stop-color='%230792A5' stop-opacity='.11'/%3E%3Cstop offset='.998' stop-color='%230792A5'/%3E%3Cstop offset='1' stop-color='%230792A5'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' x1='-80.07' y1='60.521' x2='112.949' y2='61.53' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='.147' stop-color='%230792A5' stop-opacity='.11'/%3E%3Cstop offset='.998' stop-color='%230792A5'/%3E%3Cstop offset='1' stop-color='%230792A5'/%3E%3C/linearGradient%3E%3ClinearGradient id='f' x1='1361.05' y1='749.665' x2='1378.03' y2='988.422' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='.147' stop-color='%230792A5' stop-opacity='.11'/%3E%3Cstop offset='.998' stop-color='%230792A5'/%3E%3Cstop offset='1' stop-color='%230792A5'/%3E%3C/linearGradient%3E%3ClinearGradient id='g' x1='1292.94' y1='1128.08' x2='1276.6' y2='888.752' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='.147' stop-color='%230792A5' stop-opacity='.11'/%3E%3Cstop offset='.998' stop-color='%230792A5'/%3E%3Cstop offset='1' stop-color='%230792A5'/%3E%3C/linearGradient%3E%3Cfilter id='d' x='22.368' y='-76.652' width='229.512' height='231.268' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='10'/%3E%3CfeGaussianBlur stdDeviation='2'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0'/%3E%3CfeBlend in2='BackgroundImageFix' result='effect1_dropShadow_305_2'/%3E%3CfeBlend in='SourceGraphic' in2='effect1_dropShadow_305_2' result='shape'/%3E%3C/filter%3E%3Cfilter id='e' x='-112.19' y='62.783' width='229.153' height='231.55' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='10'/%3E%3CfeGaussianBlur stdDeviation='2'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0'/%3E%3CfeBlend in2='BackgroundImageFix' result='effect1_dropShadow_305_2'/%3E%3CfeBlend in='SourceGraphic' in2='effect1_dropShadow_305_2' result='shape'/%3E%3C/filter%3E%3Cfilter id='h' x='1120.1' y='719.92' width='244.183' height='301.693' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='10'/%3E%3CfeGaussianBlur stdDeviation='2'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0'/%3E%3CfeBlend in2='BackgroundImageFix' result='effect1_dropShadow_305_2'/%3E%3CfeBlend in='SourceGraphic' in2='effect1_dropShadow_305_2' result='shape'/%3E%3C/filter%3E%3Cfilter id='i' x='1289.78' y='870.595' width='244.576' height='300.974' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='10'/%3E%3CfeGaussianBlur stdDeviation='2'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0'/%3E%3CfeBlend in2='BackgroundImageFix' result='effect1_dropShadow_305_2'/%3E%3CfeBlend in='SourceGraphic' in2='effect1_dropShadow_305_2' result='shape'/%3E%3C/filter%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h1440v1024H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

h1 {
  color: #484848;
}

p, label {
  color: #727272;
}

a {
  color: #0792A5;
}

input:focus {
  outline: none;
}

svg {
  fill: #727272;
}

.form_container {
  background-color: #ffffff;
}

.login_button {
  color: #ffffff;
  background-color: #0792A5;
}

h1, p, label, button {
  font-family: "Montserrat";
}

h1 {
  font-size: 48px;
}

p, label, input {
  font-size: 16px;
}

button {
  font-size: 18px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input::-moz-placeholder {
  font-family: "Montserrat";
}

input:-ms-input-placeholder {
  font-family: "Montserrat";
}

input::placeholder {
  font-family: "Montserrat";
}

.login_button {
  width: 100%;
  border-radius: 20px;
  padding: 5px 5px;
  border: none;
  margin-bottom: 10px;
}

h1 {
  color: #484848;
}

p, label {
  color: #727272;
}

a {
  color: #0792A5;
}

input:focus {
  outline: none;
}

svg {
  fill: #727272;
}

.form_container {
  background-color: #ffffff;
}

.login_button {
  color: #ffffff;
  background-color: #0792A5;
}

h1 {
  color: #484848;
}

p, label {
  color: #727272;
}

a {
  color: #0792A5;
}

input:focus {
  outline: none;
}

svg {
  fill: #727272;
}

.form_container {
  background-color: #ffffff;
}

.login_button {
  color: #ffffff;
  background-color: #0792A5;
}

h1, p, label, button {
  font-family: "Montserrat";
}

h1 {
  font-size: 48px;
}

p, label, input {
  font-size: 16px;
}

button {
  font-size: 18px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input::-moz-placeholder {
  font-family: "Montserrat";
}

input:-ms-input-placeholder {
  font-family: "Montserrat";
}

input::placeholder {
  font-family: "Montserrat";
}

.form_container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 80px;
  border-radius: 20px;
}

.login_input {
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 20px;
  box-shadow: 3px 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 10px 10px 5px rgba(126, 126, 126, 0.404);
  display: flex;
}
.login_input svg {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}
.login_input input {
  display: inline;
  border: none;
  margin-left: 10px;
}
