.background-logo {
    position: absolute;
    overflow: hidden;
    
    &__top {
        top: -100px;
        left: -100px;
    }

    &__bottom {
        bottom: -150px;
        right: -100px;
        transform: rotate(90deg);
    }

}