.app-container {
    margin-bottom: 200px;
    background-color: $background-colour;

    @media only screen and (min-width: 900px) {
        margin-bottom: 0;
    }

    .navigation {
        background: $primary-colour;
        width: 100%;
        order: 2;
        position: fixed;
        bottom: 0;
        z-index: 999;

        @media only screen and (min-width: 900px) {
            width: 20%;
            max-width: 200px;
            order: 1;
            position: relative;
            background: #FFF;
        }
    
    }

    .content_container {
        order: 1;

        @media only screen and (min-width: 900px) {
            flex-grow: 1;
            order: 2;
        }
    }
}

.navigation {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    box-shadow: 10px 10px 5px rgba(126, 126, 126, 0.404);
    background: $primary-colour;

    @media only screen and (min-width: 900px) {
        flex-flow: column;
    }

    &__top-logo {
        width: 100%;
        background: $primary-colour;
        display: flex;
        justify-content: center;

        svg {
            display: none;

            @media only screen and (min-width: 900px) {
                display: block;
            }
        }
    }

    &__list {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        padding: 0 20px;
        width: 100%;
        
        li {
            padding: 16px 0;

            &.posts, &.add {
                a {
                    span {
                        svg {
                            fill: #FFF;

                            path {
                                fill: #FFF;
                            }
                        }
                    }
                }
            }
            a {
                font-size: 16px;
                color: $text-colour;

                &:hover {
                    background-color: $primary-colour;
                    color: $secondary-colour;
                }

                span {
                    &.text {
                        display: none;

                        @media only screen and (min-width: 900px) {
                            display: block;
                        }
                    }

                    svg {
                        width: 25px;

                        @media only screen and (min-width: 900px) {
                            display: none;
                        }
                    }
                }
            }
        }

        @media only screen and (min-width: 900px) {
            flex-flow: column;
            padding: 0;
            width: auto;
        }
    }

    &__bottom-logo {
        width: 100%;
        background: $primary-colour;
        display: flex;
        justify-content: center;

        svg {
            display: none;

            @media only screen and (min-width: 900px) {
                display: block;
            }
        }
    }
}