// @import url('https://fonts.googleapis.com/css?family=Montserrat:500');

//Default Colours
$primary-colour:#0792A5;
$secondary-colour:#ffffff;
$accent-colour:#0792A5;
$background-colour:#f1fafa;
$heading-colour:#484848;
$text-colour:#727272;
$button-text:#ffffff;
$status-colour-interview:#C4E300;
$status-colour-pending:#E38800;
$status-colour-declined:#E30000;
$check-list-icon:#009521;


//Darkmode Colours
$dm-primary-colour:#5F5F5F;
$dm-secondary-colour:#484848;
$dm-accent-colour:#0792A5;
$dm-background-colour:#484848;
$dm-heading-colour:#C9C9C9;
$dm-text-colour:#C9C9C9;

h1{
    color: $heading-colour;
}

h2{
    color: $heading-colour;
}

p, label{
    color: $text-colour;
}

a{
    color: $primary-colour;
}

input{
    &:focus{
        outline: none;
    }
}

svg{
    fill: $text-colour;
}

li{
    color: $text-colour;
}

.background_container{
    background-color: $primary-colour;
}

.form_container{
    background-color: $secondary-colour;
}

.login_button{
    color: $button-text;
    background-color: $primary-colour;
}

.index_box{
    background-color: $secondary-colour;
}

.link{
    color: $button-text;
    background-color: $primary-colour;
}

.icon_list_item{
    svg {
        fill:$check-list-icon;
    }
}

.navbar{
    background-color: $secondary-colour;
    box-shadow: 10px 10px 5px rgba(126, 126, 126, 0.404);
    

    a{
    color: $text-colour;
    }
}

.navbar a:hover {
    background-color: $primary-colour;
    color: $secondary-colour;
}

.content_container {
      background-color: $background-colour;
}

.items_section:first-child{
    background-color: $secondary-colour;
    box-shadow: 10px 10px 5px rgba(126, 126, 126, 0.404);
}

.notifications_section{
    background-color: $secondary-colour;
    box-shadow: 10px 10px 5px rgba(126, 126, 126, 0.404);
}

.quick_links_section{
    background-color: $secondary-colour;
    box-shadow: 10px 10px 5px rgba(126, 126, 126, 0.404);
    
    a{
        color: $text-colour;
    }

    a:hover{
        color: $primary-colour;
    }
}

.post_card{
    background-color: $secondary-colour;
    box-shadow: 10px 10px 35px rgba(126, 126, 126, 0.404);
}

.show_button{
    background-color: $primary-colour;
    color: $button-text;
}


